<%- include('../includes/head.ejs') %>
    <div class="wrapper">
        <%- include('../includes/sidebar.ejs') %>

            <!-- Page Content  -->
            <div id="content">
                <%- include('../includes/navbar.ejs') %>
                    <div class="main-content">
                        <div class="table col-lg-12 col-md-12">
                            <div class="card" style="min-height: 485px">
                                <div style="
                                    display: flex;
                                    margin-top: 15px;
                                    align-items: center;
                                    justify-content: space-between;
                                ">
                                    <div class="card-header card-header-text">
                                        <h4 class="card-title">Users</h4>
                                    </div>

                                    <div style="display: flex; align-items: center">
                                        <input
                                            style="border-radius: 4px; height: 45px; width: 225px;box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;padding: 10px;"
                                            type="text" id="myInput" onkeyup="myFunction()" placeholder="Search" />
                                    </div>
                                </div>

                                <div class="card-content table-responsive">
                                    <table id="myTable" class="table table-hover">
                                        <thead style="color: #148b4b">
                                            <tr class="header">
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Phone</th>
                                                <th>Email</th>
                                                <th>Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(users.length> 0) { %>
                                                <% for (let user of users) { %>
                                                    <tr>
                                                        <td>
                                                            <%= user.id %>
                                                        </td>
                                                        <td>
                                                            <%= user.fName %>
                                                        </td>
                                                        <td>
                                                            <%= user.phone %>
                                                        </td>
                                                        <td>
                                                            <%= user.email %>
                                                        </td>
                                                        <td>
                                                            <button id="assign" data-target="#userDetailsModal" onclick="updateModalDetails(
                                                                    '<%= user.fName %>',
                                                                    '<%= user.email %>',
                                                                    '<%= user.phone %>',
                                                                    '<%= user.vehicles %>',
                                                                    '<%= user.profilepic %>'
                                                                )" data-toggle="modal"
                                                                style="background-color: #148b4b; color: #fff"
                                                                type="button" type="button" class="btn">
                                                                View Details
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                        <% } else { %>
                                                            <tr>
                                                                <td colspan="5">No users found</td>
                                                            </tr>
                                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <footer class="footer">
                            <div class="container-fluid">
                                <div class="row">
                                    <p class="copyright d-flex justify-content-end">
                                        &copy 2022 Design by TDPVista.
                                    </p>
                                </div>
                            </div>
                        </footer>
                    </div>
            </div>
    </div>

    <div class="modal fade" id="userDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="table col-lg-12 col-md-12">
                        <div class="card" id="user_info_card">
                            <img src="/images/logo.png" id="user_profilepic" width="75px"
                                style="margin-left: 5px; padding: 10px; margin-right: auto;" />
                            <div style="
                                display: flex;
                                margin-top: 15px;
                                align-items: center;
                                justify-content: space-between;
                                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                            ">
                                <div class="card-header card-header-text">
                                    <h4 class="card-title" id="user_fName">Full Name - </h4>
                                </div>
                            </div>
                            <div style="
                                display: flex;
                                margin-top: 15px;
                                align-items: center;
                                justify-content: space-between;
                                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                            ">
                                <div class="card-header card-header-text">
                                    <h4 class="card-title" id="user_email">Email - </h4>
                                </div>
                            </div>
                            <div style="
                                display: flex;
                                margin-top: 15px;
                                align-items: center;
                                justify-content: space-between;
                                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                            ">
                                <div class="card-header card-header-text">
                                    <h4 class="card-title" id="user_phone">Phone - </h4>
                                </div>
                            </div>
                            <div style="
                                display: flex;
                                margin-top: 15px;
                                align-items: center;
                                justify-content: space-between;
                            ">
                                <div class="card-header card-header-text">
                                    <h4 class="card-title">Vehicles</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button style="background-color: #148b4b; color: #fff" type="button" class="btn btn-secondary"
                        data-dismiss="modal" onclick="removeModalElement();">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>

        function removeModalElement(){
            const ele1 = document.getElementsByClassName("no_vehicles_div");
            const ele2 = document.getElementsByClassName("vehicles_div");
            ele1.remove();
            ele2.remove();
        }

        function updateModalDetails(name, email, phone, vehicles, profilepic) {
            document.getElementById('user_fName').innerHTML = "Full Name - " + name;
            document.getElementById('user_email').innerHTML = "Email - " + email;
            document.getElementById('user_phone').innerHTML = "Phone - " + phone;
            if (profilepic === "") {
                document.getElementById('user_profilepic').setAttribute('src', '/images/logo.png');
            } else {
                document.getElementById('user_profilepic').setAttribute('src', profilepic);
            }
            let vehicleArr = [...JSON.parse(vehicles)];
            var wrapper = document.getElementById("user_info_card");
            var myHTML = '';
            if (vehicleArr.length === 0) {
                myHTML += '<div class="no_vehicles_div" style="display: flex;margin-top: 10px;align-items: center;justify-content: space-between;"><div class="card-header card-header-text"><h5 class="card-title" style="font-size:15px;">No Vehicles Found</h5></div></div><br/>';
            }else{
                for (var i = 0; i < vehicles.length; i++) {
                    myHTML += '<div class="vehicles_div" style="display: block;margin-top: 15px;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;padding: 10px;"><img src=' + vehicles[i].c_photo + ' width="55px" style="margin-left: 5px; padding: 10px; margin-right: auto;"/><div class="card-header card-header-text" style="margin-top: -10px;"><h4 class="card-title">Vehicle Name - ' + vehicles[i].c_name + '</h4></div><div class="card-header card-header-text" style="margin-top: -10px;"><h4 class="card-title">Vehicle Number - ' + vehicles[i].c_num + ' </h4></div></div><br/><br/>';
                }
            }
            wrapper.innerHTML += myHTML
        }
    </script>
    <%- include('../includes/end_body.ejs') %>